@model BarsaTutorial.Web.Models.ViewModels.EditEducationRequest
@using BarsaTutorial.Web.Models.Models;
@using BarsaTutorial.Web.Models.ViewModels;
<h4>Education</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditEducation" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control"
                        asp-items="ViewBag.Categories1">
                    <option>انتخاب کنید</option>
                </select>
                <span asp-validation-for="CategoryID" classext-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileTypeID" class="control-label"></label>
                <select asp-for="FileTypeID" class="form-control"
                        asp-items="ViewBag.FileTypes1">
                    <option>انتخاب کنید</option>
                </select>
                <span asp-validation-for="FileTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="افزودن درس" class="btn btn-primary" id="addLesson" />
            </div>
            <div id="OldLessons">
                @for (int i = 0; i < Model.Lessons.Count(); i++)
                {
                    var item = Model.Lessons[i];
                    <div id='@("Lessons" + @i.ToString())'>

                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label for='@("Lessons[" + @i + "].Title")' Text="" class="control-label">عنوان جلسه</label>
                            <input id='@("Lessons[" + @i + "].Title")' name='@("Lessons[" + @i + "].Title")' class="form-control" value="@item.Title" />
                            @*<span asp-validation-for='@("Lessons[" + @i + "].Title")' class="text-danger"></span>*@
                        </div>

                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label for='@("Lessons[" + @i + "].LessonCode")' Text="کد جلسه" class="control-label">کد جلسه</label>
                            <input type="number" id='@("Lessons[" + @i + "].LessonCode")' name='@("Lessons[" + @i + "].LessonCode")' class="form-control" value="@item.LessonCode" />
                            @*<span asp-validation-for='@("Lessons[" + @i + "].LessonCode")' class="text-danger"></span>*@
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label for='@("Lessons[" + @i + "].FileAddress")' Text="آدرس فایل" class="control-label">آدرس فایل</label>
                            <input type="file" id='@("Lessons[" + @i + "].FileAddress")' name='@("Lessons[" + @i + "].FileAddress")' class="form-control" value="@item.OldFileAddress" />
                            @*<span asp-validation-for='@("Lessons[" + @i + "].FileAddress")' class="text-danger"></span>*@
                        </div>

                        @*<div class="form-group col-md-4 col-sm-4 col-xs-12"><label asp-for="@item.Title" Text="" class="control-label">عنوان جلسه</label> <input asp-for="@item.Title" class="form-control" /><span asp-validation-for="@item.Title" class="text-danger"></span> </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12"><label asp-for="@item.LessonCode" Text="کد جلسه" class="control-label">کد جلسه</label> <input type="number" asp-for="@item.LessonCode" class="form-control" /><span asp-validation-for="@item.LessonCode" class="text-danger"></span> </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12"><label asp-for="@item.FileAddress" Text="آدرس فایل" class="control-label">آدرس فایل</label> <input type="file" value="@item.FileAddress" class="form-control" /><span asp-validation-for="@item.FileAddress" class="text-danger"></span> </div>*@
                    </div>
                }
            </div>
            <div id='@("Lessons" + @Model.Lessons.Count().ToString())'>

            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Educations">بازگشت</a>
</div>

<script>

    // Wait until the window finishes loaded before executing any script
    window.onload = function () {
        debugger;
        // Initialize the activityNumber
        var activityNumber = @Model.Lessons.Count();

        // Select the add_activity button
        var addButton = document.getElementById("addLesson");

        // Select the table element


        // Attach handler to the button click event
        addButton.onclick = function () {
            debugger;
            var div = document.getElementById('Lessons' + activityNumber);
            var newElement = document.createElement('div'); // create new textarea

            newElement.setAttribute('id', 'Lessons' + (activityNumber + 1));

            div.parentNode.insertBefore(newElement, div.nextSibling);


            var lessons = document.getElementById('Lessons' + activityNumber);

            let element1 = '<div class="form-group col-md-4 col-sm-4 col-xs-12"><label for="Lessons[' + activityNumber + '].Title" Text="" class="control-label">عنوان جلسه</label> <input id="Lessons[' + activityNumber + '].Title" name="Lessons[' + activityNumber + '].Title" class="form-control" /><span asp-validation-for="Lessons[' + activityNumber + '].Title" class="text-danger"></span> </div>';
            let element2 = '<div class="form-group col-md-4 col-sm-4 col-xs-12"><label for="Lessons[' + activityNumber + '].LessonCode" Text="کد جلسه" class="control-label" >کد جلسه</label> <input type="number" id="Lessons[' + activityNumber + '].LessonCode" name="Lessons[' + activityNumber + '].LessonCode" class="form-control" /><span asp-validation-for="Lessons[' + activityNumber + '].LessonCode" class="text-danger"></span> </div>';
            let element3 = '<div class="form-group col-md-4 col-sm-4 col-xs-12"><label for="Lessons[' + activityNumber + '].FileAddress"  Text="آدرس فایل" class="control-label" >آدرس فایل</label> <input  type="file" id="Lessons[' + activityNumber + '].FileAddress" name="Lessons[' + activityNumber + '].FileAddress" class="form-control" /><span asp-validation-for="Lessons[' + activityNumber + '].FileAddress" class="text-danger"></span> </div>';

            // Add a new row to the table using the correct activityNumber
            lessons.innerHTML += '<div>' + element1 + element2 + element3 + '</div>';

            // Increment the activityNumber
            activityNumber += 1;
        }

    }

</script>

